  <div class="text-left">❗️ テスト用のアカウント(Paypal決済用) <br>ID : <strong>sb-pvigb3874582@personal.example.com</strong> <br>
    PASSWORD : <strong>PvGa82-x</strong></div><br>Credit Card Number :
  <strong>4525916807516153(VISA)</strong><br>Expiration Date : <strong>01/2026</strong><br>Credit Card CSV :
  <strong>111</strong>
  <div class="row mt-5">
    <div class="col-12">
      <h3>注文内容を確認・変更する</h3>
      <% @order.order_items.each do |item| %>
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title"><%= item.cosmetic.product_name %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= item.cosmetic.company_name %></h6>
          <p class="card-text">数量 : <%= item.quantity %></p>
          <a href="#" class="card-link">変更</a>
          <a href="#" class="card-link">削除</a>
          <p class="card-text">価格 : <%= price_to_currency(item) %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12">
      <h3>お届け先住所</h3>
      <form action="/orders/<%= @order.id %>/payments" method="POST" id="order_info_form">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="hidden" name="payer_id" id="payer_id">
        <input type="hidden" name="merchant_id" id="merchant_id">
        <input type="hidden" name="details_id" id="details_id">
        <input type="hidden" name="amount_value" id="amount_value">
        <input type="hidden" name="response" id="response">
        <input type="hidden" name="resultFlg" id="resultFlg">
        <input type="hidden" name="msg" id="msg">

        <div class="form-group">
          <label for="">氏名</label>&nbsp;&nbsp;<span id="nameValid" style="color:red"></span>
          <input type="text" class="form-control" id="name" name="name" onblur="check_form()">
        </div>

        <div class="form-group">
          <label for="">電話番号</label>&nbsp;&nbsp;<span id="phoneValid" style="color:red"></span>
          <input type="text" class="form-control" id="phone" onblur="check_form()">
        </div>

        <div class="form-group">
          <label for="">Eメール</label>&nbsp;&nbsp;<span id="emailValid" style="color:red"></span>
          <input type="text" name="email" id="email" class="form-control" onblur="check_form()">
          <label type="hidden" id="lblError" style="color:red"></label>
        </div>

        <div class="form-group">
          <label for="">住所</label>&nbsp;&nbsp;<span id="postalValid" style="color:red"></span>
          <input type="text" class="form-control mt-2" name="zipcode" id="zipcode" maxlength="9" type="tel"
            onchange="javascript:getAddName(this.value)" onblur="check_form()" placeholder="郵便番号">
          <input type="text" class="form-control mt-2" id="add_name" name="address1" onchange="check_form()"
            placeholder="住所1">
          <input type="text" class="form-control mt-2" id="adress" name="adress2" onblur="check_form()"
            placeholder="住所2">
        </div>
      </form>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12">
      <h3>領収書/購入明細書</h3>
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h5 class="card-title">商品の小計</h5>
            <p class="card-text"><%= number_to_currency(@order.product_price) %></p>
          </div>
          <div class="d-flex justify-content-between mt-3">
            <h5 class="card-title">配送料・手数料</h5>
            <p class="card-text"><%= number_to_currency(@order.shipping_fee) %></p>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-between mt-3">
            <h5 class="card-title">ご請求額</h5>
            <p id="total_price" class="card-text"><%= number_to_currency(@order.total_price) %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <a href="#" class="btn btn-warning w-100 shadow p-3" id="payment_btn" style="font-size:15px">決済する</a>
        </div>
      </div>

      <div id="smart-button-container">
        <div style="text-align: center;">
          <div id="paypal-button-container"></div>
        </div>
      </div>
    </div>
  </div>
  <script>
    check_form();

    function check_form() {

      is_name = $("#name").val()
      is_phone = $("#phone").val()
      is_email = $("#email").val()
      is_post_code = $("#zipcode").val()
      is_address_1 = $("#add_name").val()
      is_address_2 = $("#adress").val()

      nameValid = document.getElementById('nameValid')
      phoneValid = document.getElementById('phoneValid');
      emailValid = document.getElementById('emailValid');
      postalValid = document.getElementById('postalValid');

      if (!is_name) {
        $("#nameValid").html("❗️ 名前を入力してください。");
        $("#name").css('border-color', 'red');
      } else {
        $("#nameValid").html("");
        $("#name").css('border-color', '#ced4da');
      }

      if (!is_phone) {
        $("#phoneValid").html("❗️ 電話番号を入力してください。");
        $("#phone").css('border-color', 'red');
      } else {
        $("#phoneValid").html("");
        $("#phone").css('border-color', '#ced4da');
      }

      if (!is_email) {
        $("#emailValid").html("❗️ Eメールを入力してください。");
        $("#email").css('border-color', 'red');
      } else {
        $("#emailValid").html("");
        $("#email").css('border-color', '#ced4da');
        validateForm()
      }

      if (!is_post_code) {
        $("#postalValid").html("❗️ 郵便番号を入力してください。");
        $("#zipcode").css('border-color', 'red');
      } else if (!is_address_1) {
        $("#postalValid").html("❗️ 郵便番号の形式が正しくありません。");
        $("#zipcode").css('border-color', 'red');
      } else if (!is_address_2) {
        $("#postalValid").html("❗️ 建物名(ビル名)及び部屋番号を入力してください。");
        $("#zipcode").css('border-color', '#ced4da');
        $("#adress").css('border-color', 'red');
      } else {
        $("#postalValid").html("");
        $("#zipcode").css('border-color', '#ced4da');
        $("#adress").css('border-color', '#ced4da');
      }

      if (!(nameValid.innerText || phoneValid.innerText || emailValid.innerText || postalValid.innerText)) {
        return true;
      } else {
        return false;
      }
    }

    $("#payment_btn").on("click", function (e) {
      e.preventDefault();
      checked_data = check_form();
      if (checked_data) {
        document.getElementById("payment_btn").style.display = "none";
        initPayPalButton();
      } else {
        alert("赤色の❗️印が付いている項目は入力必須です");
      }
    })

    function validateForm() {
      var x = document.getElementById("email").value;
      var atpos = x.indexOf("@");
      var dotpos = x.lastIndexOf(".");
      if (atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= x.length) {
        $("#emailValid").html("❗️ Eメールの形式が正しくありません");
        $("#email").css('border-color', 'red');
        return true
      } else {
        $("#emailValid").html("");
        $("#email").css('border-color', '#ced4da');
        return false
      }
    }
  </script>
  <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=JPY" data-sdk-integration-source="button-factory">
  </script>
  <script>
    $(document).ready(function () {
      if (self.name != 'reload') {
        self.name = 'reload';
        self.location.reload(true);
      } else self.name = '';
    });

    function initPayPalButton() {
      paypal.Buttons({
        style: {
          shape: 'rect',
          color: 'gold',
          layout: 'vertical',
          label: 'pay',

        },

        createOrder: function (data, actions) {
          return actions.order.create({
            purchase_units: [{
              "amount": {
                "currency_code": "JPY",
                "value": < %= @order.total_price % >
              }
            }]
          });
        },

        onApprove: function (data, actions) {
          return actions.order.capture().then(function (details) {
            var resultFlg = "000"
            var message = details.payer.name.given_name + ' 様の決済が正常に完了しました。';

            // 入力して情報
            $("#payer_id").val(details.payer.payer_id)
            $("#details_id").val(details.id)
            $("#merchant_id").val(details.purchase_units[0].payee.merchant_id)
            $("#amount_value").val(details.purchase_units[0].amount.value)
            $("#msg").val(message)
            $("#resultFlg").val(resultFlg)
            $("#order_info_form").submit()

            // 決済情報 Ajax
            // data = {
            //   response: details
            // }

            // Rails.ajax({
            //   type: "POST",
            //   url: "/orders/<%= @order.id %>/payments",
            //   data: new URLSearchParams(data)
            // })

            alert(message);
          });
        },

        onCancel: function () {
          var resultFlg = "001"
          var message = "お客様のお支払いはキャンセルされました。"

          $("#msg").val(message)
          $("#resultFlg").val(resultFlg)
          $("#order_info_form").submit()

          alert(message);
        },

        onError: function (err) {
          var resultFlg = "002"

          $("#msg").val(err)
          $("#resultFlg").val(resultFlg)
          $("#order_info_form").submit()

          console.log(err);
          alert("お客様のお支払いは失敗しました。");
        }
      }).render('#paypal-button-container');
    }
  </script>
  <script>
    // 住所検索（郵便番号利用）
    var getAddName = function ($addNum) {
      var _zipcloudAPI = document.body.appendChild(document.createElement("script"));
      _zipcloudAPI.src = "http://zipcloud.ibsnet.co.jp/api/search?zipcode=" + $addNum +
        "&callback=getAddNameByZipcloudAPI";
      document.body.removeChild(_zipcloudAPI);
    };
    var getAddNameByZipcloudAPI = function ($getAdd) {
      var _addFormatted = "";
      if ($getAdd.status == 200) {
        _addFormatted += $getAdd.results[0].address1; // 都道府県名
        _addFormatted += $getAdd.results[0].address2; // 市町村名
        _addFormatted += $getAdd.results[0].address3; // 町域名
      }
      document.getElementById("add_name").value = _addFormatted;
      check_form();
    };
  </script>