<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="mt-5">
        <h2><%= icon('fas', 'shopping-cart') %>カート</h2>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" style="width: 30%;">商品</th>
            <th scope="col">価格</th>
            <th scope="col">数量</th>
            <th scope="col">小計</th>
            <th scope="col" style="width: 20px;"></th>
          </tr>
        </thead>
        <tbody>
          <% @carts.each do |cart|%>
          <tr>
            <th scope="row"><%= cart.cosmetic.product_name %></th>
            <td><%= number_to_currency(cart.cosmetic.price) %></td>
            <td><%= cart.quantity %></td>
            <td><%= number_to_currency(cart.quantity * cart.cosmetic.price) %></td>
            <td>
              <a href="/carts/<%= cart.id %>" class="ml-2" data-method="delete" data-confirm="商品を削除しますか？"><%= icon('fas', 'times-circle') %></a>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>