<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">ホーム</a>
            </li>
            <li class="breadcrumb-item">
                <a href="#">詳細</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page"><%= @cosmetic.product_name %></li>
        </ol>
    </nav>
    <div class="row mt-4">
        <div class="col-6">
            <% if @cosmetic.image.attached? %>
                <img src="<%= url_for(@cosmetic.image) %>" class="img-fluid"></div>
            <% else %>
                <img src="https://via.placeholder.com/640x360?text=No+Image" class="img-fluid"></div>
            <% end %>
        <div class="col-6">
            <p><%= @cosmetic.product_name %></p>
            <hr>
            <p><%= @cosmetic.desc %></p>
            <hr>
            <h5>説明</h5>
            <p><%= @cosmetic.company_name %></p>
        </div>
    </div>
</div>
