<nav aria-label="breadcrumb" class="my-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">ホーム</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/cosmetics/">ショッピング</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page"><%= @cosmetic.product_name %></li>
    </ol>
</nav>

<div class="row ">
    <div class="col-6">
        <% if @cosmetic.image.attached? %>
        <img src="<%= url_for(@cosmetic.image) %>" class="img-fluid"></div>
    <% else %>
    <img src="https://via.placeholder.com/700x400?text=No+Image" class="img-fluid">
    <% end %>

    <div class="col-6">
        <h3><%= @cosmetic.product_name %></h3>
        <hr>
        <div class="text-right my-2">
            <span style="font-size:18px">TOTAL PRICE</span><span class="ml-2"
                style="font-weight:bold; color:red; font-size:25px;"><%= number_to_currency(@cosmetic.price) %></span>
        </div>
        <hr>
        <p><%= @cosmetic.company_name %></p>
        <h5 class="text-primary">説明</h5>
        <p><%= @cosmetic.desc %></p>
        <hr>
        <h5 class="text-primary">必須</h5>
        <%# data-remoteだけでAjax通信コードになっている %>
        <form action="/carts" method="POST" data-remote="true">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <input type="hidden" name="cosmetic_id" value="<%= @cosmetic.id %>">
            <div calss="form-group">
                <label for="quantity">数量</label>
                <select class="form-control" name="quantity" id="quantity">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
            <br>

            <button type="submit" class="btn btn-primary">カートに入れる</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-12 mt-5">
        <div class="comment-wrapper">
            <div class="panel-heading">
                <div class="panel-body">
                    <form class="comment">
                        <h2>💭 カスタマーレビュー</h2>
                        <br>
                        <div id="star"></div>
                        <br>
                        <textarea class="form-control comment-contents" placeholder="コメントを書いてください..."
                            rows="4"></textarea>
                        <br>
                        <button type="submit" class="btn btn-info float-right">コメントを残す</button>
                    </form>
                    <div class="clearfix"></div>
                    <hr>
                    <div class="media-list comment-list">
                        <% @cosmetic.comments.reverse.each do |comment|%>
                        <li class="media comment-<%= comment.id%>">
                            <a href="#" class="pull-left">
                                <img src="<%= asset_path("profile.png") %>" alt="" class="img-circle">
                            </a>
                            <div class="media-body">
                                <span class="text-muted pull-right">
                                    <small class="text-muted"><%= time_ago_in_words(comment.created_at) %></small>
                                </span>
                                <strong class="text-success"><%= comment.user_email %></strong>
                                <div class="comment-score mb-2" data-score="<%= comment.score %>"></div>

                                <p>
                                    <span class="comment-detail-<%=comment.id%>"
                                        style="font-size: 1.2em;"><%= comment.contents %></span>
                                </p>
                                <div class="button_edit mb-2">
                                    <button data-id="<%= comment.id %>" class="btn btn-primary edit-comment">修正</button>
                                    <button data-id="<%= comment.id %>"
                                        class="btn btn-primary destroy-comment">削除</button>
                                </div>
                            </div>
                        </li>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
</div>
<script>
    $(document).ready(function () {
        //コメント作成
        $('.comment').on('submit', function () {
            // e.preventDefault();
            var comm = $('.comment-contents').val();
            var score = $('[name="score"]').attr('value');

            $.ajax({
                url: "/cosmetics/<%= @cosmetic.id %>/comments",
                method: 'POST',
                data: {
                    contents: comm,
                    score: score
                }
            });
        })
        //ページをReroadするためのdocument
        //コメント削除
        $(document).on('click', '.destroy-comment', function () {
            var comment_id = $(this).attr('data-id');

            $.ajax({
                url: "/cosmetics/comments/" + comment_id,
                method: "delete"
            })
        });

        //コメント修正
        $(document).on('click', '.edit-comment', function () {
            if ($('.update-comment').length == 0) {
                var comment_id = $(this).data('id');
                var edit_comment = $(`.comment-detail-${comment_id}`);
                var contents = edit_comment.text().trim();
                edit_comment.html(`
        <input type="text" value="${contents}" class="form-control edit-comment-${comment_id}">`);
                $(this).text("確認").removeClass("edit-comment btn-primary").addClass(
                    "update-comment btn-warning");
            } else {
                alert("修正ができないです。");
            }
        });

        $(document).on('click', '.update-comment', function () {
            console.log("update");
            var comment_id = $(this).data('id');
            var comment_form = $(`.edit-comment-${comment_id}`);
            $.ajax({
                url: "/cosmetics/comments/" + comment_id,
                method: "patch",
                data: {
                    contents: comment_form.val()
                }
            })
        });




    });
</script>
<script>
    $(window).on("load", function () {
        $('#star').raty({
            path: '/images',
            score: 0
        });
        $('.comment-score').raty({
            size: 5,
            readOnly: true,
            score: function () {
                return $(this).attr('data-score');
            },
            path: '/images'
        });
    });
</script>